.mat-cell {
  font-size: 12px
}

.mat-cell .mat-button {
  font-size: 12px;
  min-width: 30px;
  padding: 0px;
}

.mat-column-name {
  flex: 0 0 40%;
}
.mat-column-country {
  flex: 0 0 6%;
}
.mat-column-endDate{
  flex: 0 0 8%;
}
.mat-column-sanctioningBody {
  flex: 0 0 6%;
}
.mat-column-category {
  flex: 0 0 7%;
}
.mat-column-tournamentType {
  flex: 0 0 25%;
}
.mat-table {
  overflow: auto;
}
