<div fxLayout="row wrap" fxLayoutGap="10px" style="margin: 5px" xmlns="http://www.w3.org/1999/html">
  <div fxFlex="20%" class="mat-elevation-z3 app-box">
    <h3 class="mat-title">Rate Tournaments</h3>
    <p class="mat-body-1">
      This app just allows you to say if ITF Women's tournaments are
      Transition Tour events that award ITF Entry Points or Pro events that
      award WTA points.
    </p>
    <p class="mat-body-1">
      This app is only in use until such time as the ITF API can distinguish
      between the two types of ITF Women's events.
    </p>
    <div fxLayout="column" fxLayoutGap="8px">
      <mat-divider></mat-divider>
      <h3>Tournament Filters</h3>
      <mat-form-field>
        <input matInput [matDatepicker]="startdp" placeholder="From Date" [formControl]="startFilterPeriodFC"
               (dateChange)="onStartDateChanged()" (dateInput)="onStartDateChanged()">
        <mat-datepicker-toggle matSuffix [for]="startdp"></mat-datepicker-toggle>
        <mat-datepicker #startdp></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="enddp" placeholder="Until date" [formControl]="endFilterPeriodFC"
               (dateChange)="onEndDateChanged()" (dateInput)="onEndDateChanged()">
        <mat-datepicker-toggle matSuffix [for]="enddp"></mat-datepicker-toggle>
        <mat-datepicker #enddp></mat-datepicker>
      </mat-form-field>
      <button fxFlexAlign="end" mat-button color="primary" (click)="search()">Search</button>
    </div>
  </div>
  <div fxFlex class="mat-elevation-z3 app-box">
    <div *ngIf="loadingTournaments">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <H3>Loading Tournaments</H3>
    </div>
    <div *ngIf="!loadingTournaments && tournaments.length == 0">
      <h3 class="mat-title">No tournaments match the filter criteria.</h3>
    </div>
    <div fxFlex *ngIf="!loadingTournaments && tournaments.length > 0" >
      <mat-table fxFlex #unratedTournamentsTable [dataSource]="ut">

        <!--Tounament Name-->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let t"><a mat-button color="primary" [href]="t.makeURL()" target="_blank" >{{ t.name }}</a></mat-cell>
        </ng-container>

        <!--Tournament End Date-->
        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let t">{{ t.endDate.substr(0,10) }}</mat-cell>
        </ng-container>

        <!--Country-->
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
          <mat-cell *matCellDef="let t">{{ t.hostNation }}</mat-cell>
        </ng-container>

        <!--Sanctioning Body-->
        <ng-container matColumnDef="sanctioningBody">
          <mat-header-cell *matHeaderCellDef>Org</mat-header-cell>
          <mat-cell *matCellDef="let t">{{ t.sanctioningBody }}</mat-cell>
        </ng-container>

        <!--Category-->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
          <mat-cell *matCellDef="let t">{{ t.category }}</mat-cell>
        </ng-container>

        <!--Tournament Category-->
        <ng-container matColumnDef="tournamentType">
          <mat-header-cell *matHeaderCellDef>Tournament Type</mat-header-cell>
          <mat-cell *matCellDef="let t">
            <mat-radio-group  [(ngModel)]="t.category" (change)="onTournamentTypeChange(t)">
              <mat-radio-button style="margin: 8px" [value]="'TT'" color="primary"
                matTooltip="Transition Tour events offer ITF Entry ranking points">Transition Tour</mat-radio-button>
              <mat-radio-button style="margin: 5px" [value]="'Pro'" color="primary"
                matTooltip="ITF Women's Pro Tour events offer WTA ranking points">Pro Tour</mat-radio-button>
            </mat-radio-group>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row;  columns:displayColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
