.mat-cell {
  font-size: 12px
}

.mat-cell .mat-button {
  font-size: 12px;
  min-width: 30px;
  padding: 0px;
}

.mat-column-name {
  flex: 0 0 48%;
}
.mat-column-hn {
  flex: 0 0 6%;
}
.mat-column-ed {
  flex: 0 0 8%;
}
.mat-column-sb {
  flex: 0 0 6%;
}
.mat-column-category {
  flex: 0 0 7%;
}
.mat-column-updated {
  flex: 0 0 4%;
}
.mat-table {
  overflow: auto;
}
