<div fxLayout="column" fxLayoutGap="20px" class="mat-elevation-z3 app-box">
  <h2 fxFlexAlign="center">Report competitiveness of every match since 2022-01-01</h2>
  <p>Create a pivot table in the resulting spreadsheet to analyze competitiveness in any which way.</p>
  <mat-divider></mat-divider>
  <div fxFlexAlign="center" fxLayout="row"  fxLayoutGap="20px">
    <button mat-button  color="primary"  (click)="buildReport()">
      <mat-icon>build</mat-icon> Build Report
    </button>
    <a mat-button color="primary" type="button"
       [href]="downloadURL"
       [disabled]="!state.reportReady"
    >
      <mat-icon>cloud_download</mat-icon> Download Report
    </a>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="state.buildingReport">
  </mat-progress-bar>
  <div *ngIf="requestStatus && requestStatus.toDo > 0">
    <mat-divider></mat-divider>
    <p>Request Status: {{requestStatus.currentActivity}}</p>
    <p>Tournaments without matches: {{requestStatus.counters.tournamentsWithoutMatches}}</p>
    <p>Tournaments to do: {{requestStatus.toDo}}  done: {{requestStatus.counters.done}}</p>
    <p>Events processed: {{requestStatus.counters.eventsProcessed}}</p>
    <p>Matches processed: {{requestStatus.counters.matchesProcessed}}</p>
    <h3>Matches not included</h3>
    <ul>
      <li>Matches without dates: {{requestStatus.counters.missingMatchDate}}</li>
      <li>Byes: {{requestStatus.counters.scorelineIsBye}}</li>
      <li>Inferred byes: {{requestStatus.counters.inferredBye}} (missing a winner or a loser)</li>
      <li>Walkovers, Retirements, Withdrawals etc.: {{requestStatus.counters.nonZeroScoreStatus}}</li>
      <li>Unplayed: {{requestStatus.counters.unplayed}} (no winner code)</li>
    </ul>
    <div *ngIf="requestStatus.history.length > 0">
      <h3>Notes:</h3>
      <p *ngFor="let h of requestStatus.history">{{h}}</p>
    </div>
    <p>file: {{requestStatus.data.filename}}</p>

  </div>
</div>
