.mat-mdc-cell {
  font-size: 12px;
}

mat-cell, .mat-mdc-cell {
  padding-left: 4px;
}

mat-header-cell, .mat-mdc-header-cell {
  font-size: 16px;
  padding-left: 4px;
}

.mat-mdc-cell .mat-mdc-button {
  font-size: 12px;
  min-width: 30px;
  padding: 0;
}

.mat-column-endDate {
  flex: 0 0 9%;
}
.mat-column-tournamentType {
  flex: 0 0 8%;
  padding-left: 4px;
}
.mat-column-fullName {
  flex: 0 0 12%;
}
.mat-column-vrid {
  flex: 0 0 7%;
}
.mat-column-id {
  flex: 0 0 8%;
}
.mat-column-drawSize {
  justify-content: flex-end;
  flex: 0 0 4%;
}
.mat-column-fp {
  justify-content: flex-end;
  flex: 0 0 5%;
}
.mat-column-pc {
  justify-content: flex-end;
  flex: 0 0 5%;
}
.mat-column-tcPts {
  flex: 0 0 6%;
  justify-content: flex-end;
}
.mat-column-externalPts {
  justify-content: flex-end;
  flex: 0 0 7%;
}
.mat-column-epOverride {
  justify-content: flex-end;
  flex: 0 0 10%;
}
.mat-mdc-table {
  overflow: auto;
}

.filter-form-field {
  width: 190px;
}

