<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="navigation"
    mode="side"
    opened="true">
    <!--[attr.role]="isHandset$ | async ? 'dialog' : 'navigation'"-->
    <!--[mode]="isHandset$ | async ? 'over' : 'side'"-->
    <!--[opened]="!(isHandset$ | async)">-->

    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/vr_license_manager">License Manager</a>
      <a mat-list-item routerLink="/vr_license_reporter">License Reporter</a>
      <a mat-list-item routerLink="/player_import">Player Importer</a>
      <a mat-list-item routerLink="/player_merge_import">Player Merge Importer</a>
      <a mat-list-item routerLink="/">TBD</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!--*ngIf="isHandset$ | async">-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{appState.activeTool$ | async}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </mat-sidenav-content>
</mat-sidenav-container>
