<mat-card class="large-tool">
  <mat-card-header>
    <div class="flex-row gap-20 flex-justify-start" style="width: 100%">
      <div class="flex-column">
        <mat-card-title>Link a player's ITF ID to their VR ID</mat-card-title>
        <mat-slide-toggle [(ngModel)]="onlyPlayersWithoutVRID" (change)="onITFPlayerFilterChange()">
          Only show players with unmatched ITF IDs.
        </mat-slide-toggle>
      </div>
      <div class="fill-remaining-space"></div>
      <mat-form-field floatLabel="always" class="filter-form-field">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Partial last name in the ITF</mat-label>
        <input matInput [(ngModel)]="searchString" name="searchString"
               type="search"
               (keyup)="onITFPlayerFilterChange()" (search)="onITFPlayerFilterChange()">
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="vertical-spacer-medium"></div>
    <p class="mat-body-small">This application allows you to link Canadian players with ITF IDs to their VR IDs
      allowing ITF, ATP and WTA results to be incorporated into the Canadian Ranking System.</p>
    <p class="mat-body-small">When you choose a player from the ITF player list and the system will show you the VR
      players with a matching last name.</p>
    <p class="mat-body-small">If there is a player in the VR Player List that matches selected player in the ITF Player List,
      select it to establish a link between the player's ITF and VR ID.</p>
    <p class="mat-body-small">Or, if you know the player's VR Id, you can enter that VR Id for the ITF player,
      but be sure it is the right one.</p>

    <div class="flex-row gap-10 flex-align-start">

      <!-- The list of ITF ids who either have no associated VR ID or whose name matches the filter.   -->
      <div class="flex-column mat-elevation-z3 pad-10 flex-35-percent" style="overflow-y: auto">
        <div class="mat-title-medium">ITF Player List ({{ITFPlayers.length - matchesCompleted}})</div>

        <!-- It takes a little while to get the ITF Player list, so show a progress bar -->
        <div *ngIf="externalPlayersLoading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <div class="mat-title-medium">Loading Players</div>
        </div>

        <!-- Give the user a notification if they have set a filter with no matches to ITF players -->
        <div class="instruction" *ngIf="ITFPlayers.length === 0">
          <div class="mat-title-medium">No players match the filter settings.</div>
        </div>

        <!-- Present the list of ITF Players that either have no associated VR Id or who match the filter -->
        <div class="flex-column gap-10 player-list">
          <div *ngFor="let player of ITFPlayers"
               class="player-list-item"
               [class.selected]="player === selectedITFPlayer"
               (click)="onSelectITFPlayer(player)">
            <div class="flex-row flex-align-top">

              <!-- Give a visual indication of whether or not the ITF player is associated with a VR player -->
              <ng-container *ngIf="player.tcPlayer">
                <mat-icon class="green-icon">done</mat-icon>
              </ng-container>
              <ng-container *ngIf="!player.tcPlayer">
                <mat-icon class="red-icon">close</mat-icon>
              </ng-container>

              <div class="fill-remaining-space">
                <div class="mat-title-medium">{{player.lastName}}, {{player.firstName}} ({{player.gender}})</div>
                <div class="mat-body-small">DOB: {{player.DOB.slice(0,10)}}, IPIN: {{player.ipin}}</div>

                <!-- For the selected player we make a little form to allow them to be associated -->
                <!-- with a VR player -->
                <ng-container *ngIf="player == selectedITFPlayer">
                  <div class="vertical-spacer-small"></div>
                  <form>
                    <mat-form-field floatLabel="always">
                      <mat-label>Enter VR Id or choose a candidate</mat-label>
                      <input matInput [(ngModel)]="newVRIdentifier"
                             [ngModelOptions]="{standalone: true}"
                             maxlength="8"
                             pattern="\d{8}"
                             (keyup)="onVRIDChange()">
                      <mat-error>A VR ID is 8 digits</mat-error>
                    </mat-form-field>
                  </form>
                  <div *ngIf="failedVRPlayerLookup">
                    <mat-error>No VR player found with ID {{newVRIdentifier}}</mat-error>
                  </div>
                  <div class="candidate" *ngIf="newVRPlayer && newVRPlayer.playerId">

                    <!-- show the key attributes of the ITF player and the VR player side by side. -->
                    <!-- If I were less lazy, I would have made a table here. -->
                    <div class="flex-column">
                      <div class="flex-row flex-align-center">
                        <p class="flex-20-percent"></p>
                        <p class="flex-35-percent mat-label-medium">ITF</p>
                        <p class="flex-35-percent mat-label-medium">VR</p>
                      </div>
                      <div class="flex-row flex-align-center">
                        <p class="flex-20-percent mat-label-medium">DOB</p>
                        <p class="flex-35-percent mat-body-medium">{{player.DOB.slice(0,10)}}</p>
                        <p class="flex-35-percent mat-body-medium">{{newVRPlayer.DOB}}</p>
                      </div>
                      <div class="flex-row flex-align-center">
                        <p class="flex-20-percent mat-label-medium">LN</p>
                        <p class="flex-35-percent mat-body-medium">{{player.lastName}}</p>
                        <p class="flex-35-percent mat-body-medium">{{newVRPlayer.lastName}}</p>
                      </div>
                      <div class="flex-row flex-align-center">
                        <p class="flex-20-percent mat-label-medium">FN</p>
                        <p class="flex-35-percent mat-body-medium">{{player.firstName}}</p>
                        <p class="flex-35-percent mat-body-medium">{{newVRPlayer.firstName}}</p>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="flex-row flex-justify-center">
                      <button mat-button
                              *ngIf="selectedITFPlayer.internalId != newVRIdentifier"
                              (click)="onConfirmMatch()">
                        Confirm Match
                      </button>
                      <button mat-button
                              *ngIf="selectedITFPlayer.internalId != newVRIdentifier"
                              (click)="onNoMatch()">Not A Match
                      </button>
                    </div>
                    <div class="mat-body-small" *ngIf="selectedITFPlayer.internalId == newVRIdentifier">Currently Matched</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- List of VR players who are candidate matches for the selected ITF player. -->
      <div class="flex-column mat-elevation-z3 pad-10 fill-remaining-space" style="overflow-y: auto">

        <!-- If no ITF player is selected yet, suggest that the user do so. -->
        <mat-card class="instruction" *ngIf="ITFPlayers.length > 0 && selectedITFPlayer == null && VRPlayerCount == 0">
          <mat-card-content>
            Select a Player from the ITF Player List to see a list of
            potentially matching players in the VR database.
          </mat-card-content>
        </mat-card>

        <!-- If we are loading VR players, show a progress bar -->
        <ng-container *ngIf="VRPlayersLoading">
          <div class="flex-column flex-justify-start flex-align-center gap-20">
            <div class="mat-title-small">Loading VR Players</div>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </ng-container>

        <!-- The list of players in VR whose last names match the last name of the selected ITF player. -->
        <div *ngIf="selectedITFPlayer && !VRPlayersLoading">
          <div class="mat-title-medium">Candidates from VR with last name {{selectedITFPlayer.lastName}}</div>

          <!-- If there are last-name candidates in VR, present a button so the user can -->
          <!-- know what to do if none of those candidates are right -->
          <button mat-button
                  *ngIf="!showVRMatchHelp && !VRPlayersLoading"
                  (click)="onShowVRMatchHelp()">No candidates match {{selectedITFPlayer.firstName}} {{selectedITFPlayer.lastName}}?
          </button>

          <!-- Give the user instructions if there is no candidate from VR that matches the ITF player. -->
          <ng-container *ngIf="showVRMatchHelp && !VRPlayersLoading">
            <div class="vertical-spacer-medium"></div>
            <mat-card class="instruction">
              <mat-card-header>
                <div class="mat-title-small">No candidates from VR for {{selectedITFPlayer.firstName}} {{selectedITFPlayer.lastName}}</div>
              </mat-card-header>
              <mat-card-content>
                <div class="vertical-spacer-small"></div>
                <p class="mat-body-medium">
                  This may be because of a minor discrepancy in spelling or special characters between the ITF
                  and VR. Or, because the player is not in the VR system.
                </p>
                <p class="mat-body-medium">
                  To resolve this, first try to lookup the player in the VR Admin screens and if you find them,
                  you can enter the player's VR ID directly in the ITF Player List on the left.
                </p>
                <p class="mat-body-medium">
                  Otherwise, the player should be added to the VR System.
                  Once this has happened and the manual upload of VR players into the
                  Tennis Canada system has been completed (Player Importer), then you can complete
                  the matching process here.
                </p>
              </mat-card-content>
            </mat-card>
          </ng-container>

          <!-- List all the players in VR whose last name matches the last name of the -->
          <!-- selected ITF player.  These are "candidates" to be matched with the ITF player -->
          <mat-list class="player-list">
            <mat-list-item *ngFor="let vrPlayer of VRPlayers"
                           class="player-list-item"
                           [class.selected]="newVRIdentifier == vrPlayer.playerId"
                           (click)="onSelectVRPlayer(vrPlayer)">
              <span matListItemTitle>{{vrPlayer.lastName}}, {{vrPlayer.firstName}} ({{vrPlayer.gender}})</span>
              <span matListItemLine class="mat-body-small">DOB: {{vrPlayer.DOB.slice(0,10)}}, VR Id: {{vrPlayer.playerId}}, city: {{vrPlayer.city}}</span>
              <span matListItemLine class="mat-body-small">province: {{vrPlayer.province}}, email: {{vrPlayer.email}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
