@use '~@angular/material' as mat;
@mixin tc-stats-app($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  //This just allows me to color arbitrary things according to the app theme.
  .color-primary {
    color: mat.get-color-from-palette($primary)
  }
  .color-accent {
    color: mat.get-color-from-palette($accent)
  }

  .mat-nav-list .mat-list-item {
    color: mat.get-color-from-palette($primary)!important
  }
}
