<link
  href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/css/okta-sign-in.min.css"
  type="text/css"
  rel="stylesheet"/>
<link
  href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/css/okta-theme.css"
  type="text/css"
  rel="stylesheet"/>

<div class="mat-typography" fxLayout="column" style="min-height: 600px">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="over" hasBackdrop="true" role="navigation">
      <mat-nav-list *ngFor="let app of statsApps">
          <a mat-list-item *ngIf="appState.hasRight(app)"
          [routerLink]="app.route">{{app.name}}
          </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="min-height: 600px">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <!--*ngIf="isHandset$ | async">-->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{appState.activeTool$ | async}}</span>
        <span class="fill-remaining-space"></span>
        <button mat-button color="white" *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
        <button mat-button color="white" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
