<!--<div *ngIf="!user" id="okta-login-container"></div>-->

<!--<div >-->
<!--<mat-toolbar color="primary"  >-->
<!--<span>{{title}}</span>-->
<!--<span class="fill-remaining-space"></span>-->
<!--<a mat-raised-button color="accent" routerLink="/">-->
<!--Home-->
<!--</a>-->
<!--<a mat-raised-button color="accent" routerLink="/vr_license_manager"-->
<!--matTooltip="Manage the VR Licenses">-->
<!--VR Licenses-->
<!--</a>-->
<!--&lt;!&ndash;<a mat-raised-button color="accent" routerLink="/" (click)="logout()">&ndash;&gt;-->
<!--&lt;!&ndash;Logout&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</mat-toolbar>-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<div class="mat-typography">
  <tc-stats></tc-stats>
</div>
