<div fxLayout="row" fxLayoutGap="10px">
  <div class="app-box mat-elevation-z3">
    <h3>Export Player Data</h3>
    <div *ngIf="loadingPlayers">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <H3>Loading Players</H3>
    </div>

    <button mat-button color="primary" (click)="exportPlayerData()">Export Player Data</button>
  </div>
  <div fxLayout="column" class="app-box mat-elevation-z3">
    <h3>Export Match Data</h3>
    <mat-form-field class="filter-form-field">
      <input matInput [formControl]="updatedSinceFC" [matDatepicker]="enddp"
             placeholder="Tournaments Updated Since">
      <mat-datepicker-toggle matSuffix [for]="enddp"></mat-datepicker-toggle>
      <mat-datepicker #enddp></mat-datepicker>
    </mat-form-field>
    <button mat-button color="primary" (click)="exportMatchData()">Export Match Data</button>
  </div>
</div>
