
mat-cell, .mat-mdc-cell {
  font-size: 12px;
  padding-left: 4px;
}

mat-header-cell, .mat-mdc-header-cell {
  padding-left: 4px;
}

.mat-mdc-cell .mat-mdc-button {
  font-size: 12px;
  min-width: 30px;
  padding: 0;
}

.mat-column-endDate {
  flex: 0 0 10%;
}

.mat-column-endDate {
  flex: 0 0 10%;
}

.mat-column-type {
  flex: 0 0 10%;
}
.mat-column-vrGrade {
  flex: 0 0 10%;
}
.mat-column-approvedGrade {
  flex: 0 0 25%;
}

.mat-mdc-table {
  overflow: auto;
}

.filter-form-field {
  width: 170px;
}
