<mat-card class="extra-large-tool">
  <mat-card-header>
    <div class="flex-row gap-20 flex-justify-start" style="width: 100%">
      <div class="flex-column">
        <mat-card-title>League, Box Ladder and Tournament Grade Checker</mat-card-title>
        <mat-card-subtitle class="mat-body-medium">Check that leagues and tournaments are properly graded.</mat-card-subtitle>
      </div>
      <div class="fill-remaining-space"></div>

      <!-- Allow the user to decide how far back in time to go -->
      <mat-form-field class="filter-form-field">
        <mat-label>Since...</mat-label>
        <input matInput [matDatepicker]="since" [formControl]="gradingsSinceFC"
               (dateChange)="onDateChanged()" (dateInput)="onDateChanged()">
        <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
        <mat-datepicker #since></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="vertical-spacer-medium"></div>
    <div class="flex-column gap-10">

      <!-- Allow the user to choose what type of competition they want to review -->
      <form>
        <div class="flex-row flex-justify-center gap-10">
          <mat-radio-group [formControl]="tournamentCategorySelectionFC">
            <mat-radio-button [value]="TournamentCategory.Leagues">View {{ TournamentCategory.Leagues }}</mat-radio-button>
            <mat-radio-button [value]="TournamentCategory.BoxLadders">View box ladders</mat-radio-button>
            <mat-radio-button [value]="TournamentCategory.Tournaments">View tournaments</mat-radio-button>
          </mat-radio-group><mat-checkbox [formControl]="includeGoodApprovalsFC">Include good approvals</mat-checkbox>
        </div>
      </form>
      <div class="vertical-spacer-medium"></div>
      <div class="pad-10 mat-elevation-z3">
        <div *ngIf="loadingResults">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <div class="mat-title-medium">Loading Results</div>
        </div>
        <div *ngIf="resultCount == 0 && !loadingResults">
          <div class="mat-title-medium">All {{tournamentCategorySelectionFC.value}}
            since {{ gradingsSinceFC.getRawValue() }} are at the approved grade.
          </div>
        </div>

        <!-- the table of competitions to be graded -->
        <div *ngIf="resultCount > 0 && !loadingResults">
          <mat-table #resultsTable [dataSource]="results">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let t">
                <a mat-button [href]="vrBaseURL + t.tournamentCode" target="_blank">{{ t.name }}</a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
              <mat-cell *matCellDef="let t">{{ t.type }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="vrGrade">
              <mat-header-cell *matHeaderCellDef>VR Grade</mat-header-cell>
              <mat-cell *matCellDef="let t">{{ t.vrGrade }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
              <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
              <mat-cell *matCellDef="let t">{{ t.endDate }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="approvedGrade">
              <mat-header-cell *matHeaderCellDef>ApprovedGrade</mat-header-cell>
              <mat-cell *matCellDef="let t">
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Set approved grade</mat-label>
                  <mat-select [(value)]="t.approvedGrade" (selectionChange)="setApprovedGrade(t)">
                    <mat-option>None</mat-option>
                    <mat-option value="National">National</mat-option>
                    <mat-option value="Provincial">Provincial</mat-option>
                    <mat-option value="Regional">Regional</mat-option>
                    <mat-option value="Community">Community</mat-option>
                    <mat-option value="Club">Club</mat-option>
                    <mat-option value="Recreational">Recreational</mat-option>
                    <mat-option value="Rookie">Rookie</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
