@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';
// Note to self - import component .scss files here if you have component specific scss

// From the documentation - mat-core should not be imported in other scss files
@include mat.core();
@import "tc-tools-theme.scss";

@include mat.all-component-themes($tc-tools-theme);
@import './app/app.component';
@include tc-stats-app($tc-tools-theme);
@import './app/external-tournaments/external-player-manager/external-player-manager.component.theme';
@include itf-player-list-theme($tc-tools-theme);

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.app-box {
  padding: 8px;
  margin: 5px;
  max-width: 1000px;
  max-height: 80vh;
}
