@import '../node_modules/@angular/material/theming';
// A theme for tennis canada tools


$tc-tools-primary: mat-palette($mat-brown);
$tc-tools-accent: mat-palette($mat-red, A200, A100, A400);
$tc-tools-warn: mat-palette($mat-red);

$tc-tools-theme: mat-light-theme($tc-tools-primary, $tc-tools-accent, $tc-tools-warn);
