// A theme for tennis canada tools

$tc-tools-primary: mat-palette($mat-purple);
$tc-tools-accent: mat-palette($mat-yellow, A200, A100, A400);
$tc-tools-warn: mat-palette($mat-red);

$tc-tools: mat-light-theme($tc-tools-primary, $tc-tools-accent, $tc-tools-warn);

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
