@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';
// A theme for tennis canada tools

$tc-red: (
  50 : #ffe1e2,
  100 : #feb4b7,
  200 : #fd8288,
  300 : #fc4f58,
  400 : #fc2a34,
  500 : #fb0410,
  600 : #fa030e,
  700 : #fa030c,
  800 : #f90209,
  900 : #f80105,
  A100 : #ffffff,
  A200 : #ffebec,
  A400 : #ffb8b9,
  A700 : #ff9f9f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$tc-brown: (
  50 : #f1e6e4,
  100 : #dcc0bb,
  200 : #c5968e,
  300 : #ae6b61,
  400 : #9c4c3f,
  500 : #8b2c1d,
  600 : #83271a,
  700 : #782115,
  800 : #6e1b11,
  900 : #5b100a,
  A100 : #ff958f,
  A200 : #ff655c,
  A400 : #ff3529,
  A700 : #ff1d0f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$tc-tools-primary: mat.define-palette($tc-brown);
$tc-tools-accent: mat.define-palette($tc-red, A200, A100, A400);
$tc-tools-warn: mat.define-palette(mat.$red-palette);

$tc-tools-theme: mat.define-light-theme($tc-tools-primary, $tc-tools-accent, $tc-tools-warn);
