<mat-card fxFlexAlign="center">
  <mat-card-content>
    <mat-accordion>
      <div *ngFor="let tg of authService.authorizedToolGroups">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{tg.displayName}}</mat-panel-title>
            <mat-panel-description>{{tg.description}}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list *ngFor="let tool of tg.tools">
            <mat-list-item>
              <p mat-line >
                <button mat-button color="primary" routerLink="/{{tool.route}}">{{tool.displayName}}</button>
              </p>
              <p mat-line>{{tool.description}}</p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-card-content>
</mat-card>
